/* INDEX  CSS */
.body_1 {
background-color: #ffffff;
}

.subtitle {
font-size: 20px;
}

.box_static {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: orange;*/
background-color: #ffffff;
width: 50%;
/*height: 49%;*/
position: relative;
float: left;
/*top: 50%;
left: 30%;
transform: translate(0%,-60%);*/
}

.bar {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: blue;*/
background-color: #000000;
width: 100%;
height: 10px;
position: relative;
float: left;
}

.square1 {
margin: 0 auto;
/*padding: 0px;
border-style: solid;
border-width: 2px;
border-color: green;*/
background-color: #000000;
width: 25px;
height: 25px;
position: relative;
transform: translateY(7px);
-ms-transform: translateY(7xp);
float: left;
}

.square2 {
margin: 0 auto;
/*padding: 0px;
border-style: solid;
border-width: 2px;
border-color: green;*/
background-color: #ffffff;
width: 25px;
height: 25px;
position: relative;
transform: translateY(7px);
-ms-transform: translateY(7px);
float: left;
}

.tblock {
margin: 0 auto;
/*padding: 0px;
border-style: solid;
border-width: 2px;
border-color: blue;*/
position: relative;
font-weight: bold;
font-size: 30px;
font-family: Verdana, Geneva, sans-serif;
transform: translateY(3px);
-ms-transform: translateY(3px);
float: left;
}

.nblock {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: blue;*/
position: relative;
font-weight: bold;
font-size: 60px;
font-family: Georgia;
float: left;
width: 100%;
text-align: center;
}

.eblock {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: blue;*/
position: relative;
font-weight: bold;
font-size: 12px;
font-family: Verdana, Geneva, sans-serif;
float: left;
width: 100%;
text-align: center;
}

.cblock {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: red;*/
position: relative;
float: left;
width: 100%;
}

.sblock {
margin: 0 auto;
/*padding: 0px;
border-style: solid;
border-width: 2px;
border-color: red;*/
position: relative;
float: left;
width: 100%;
height: 25px;
}

.sblock2 {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: gray;*/
position: relative;
float: left;
width: 100%;
height: 100px;
}

.sblock3 {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: orange;*/
background-color: #ffffff;
width: 25%;
/*height: 49%;*/
position: relative;
float: left;
}

.sblock4 {
margin: 0 auto;
padding: 0px;
/*border-style: solid;
border-width: 2px;
border-color: gray;*/
position: relative;
float: left;
width: 100%;
height: 0px;
}

.wraptitle {
/*margin: 0 auto;
padding: 0px;*/
width: 100%;
height: 40px;
float: left;
position: relative;
/*border-style: solid;
border-width: 2px;
border-color: gray;*/
}

